<?xml version="1.0" encoding="UTF-8"?>
<server>
  <cm>
    <tclHost/>
    <tclPort>3001</tclPort>
    <httpHost/>
    <httpConnectHost>localhost</httpConnectHost>
    <httpPort>3002</httpPort>
    <stateHost>localhost</stateHost>
    <statePort>3003</statePort>
    <httpProxyHost/>
    <httpProxyPort/>
    <database fileName="cmdb.xml"/>
  </cm>
  <ses>
    <tclHost/>
    <tclPort>3012</tclPort>
    <httpHost>0.0.0.0</httpHost>
    <httpConnectHost>0.0.0.0</httpConnectHost>
    <httpPort>3011</httpPort>
    <stateHost>0.0.0.0</stateHost>
    <statePort>3013</statePort>
    <httpProxyHost/>
    <httpProxyPort/>
  </ses>
  <te>
    <tclHost/>
    <tclPort>3051</tclPort>
    <httpHost/>
    <httpConnectHost>localhost</httpConnectHost>
    <httpPort>3052</httpPort>
    <stateHost>localhost</stateHost>
    <statePort>3053</statePort>
    <httpProxyHost/>
    <httpProxyPort/>
    <database fileName="tedb.xml"/>
  </te>
  <log fileName="log.xml"/>
  <email>
<!-- leave 'host' empty to deactive email services -->
<!--
        <host>localhost</host>
        -->
    <host/>
  </email>
  <instanceSecret>MYSECRET</instanceSecret>
</server>
